.App {
  text-align: center;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

nav {
  background-color: #f3dcd4;
}

footer {
  background-color: #f3dcd4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.btn {
  border-radius: 40px;
}

.dropdown-menu {
  background-color: #f3dcd4;
}

#founder {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container-fluid .jumbotron,
.container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container-fluid .jumbotron,
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: url(https://t3.ftcdn.net/jpg/02/81/42/34/360_F_281423494_L0BG7tWN6BhE5ZhsFW2nTAJrwrzGpM11.jpg);
  background-size: cover;
}

li :link {
  text-decoration: none;
}