.App {
  text-align: center;
}

html,
body {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  overflow: hidden;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

nav {
  background-color: #f3dcd4;
}

footer {
  background-color: #f3dcd4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#founder {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.landing {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.landing-col {
  background-image: url("../src/app/assets/img/tool-of-choice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  overflow: hidden;
}

.btn {
  border-radius: 40px;
  background-color: #f3dcd4 !important;
  color: #000 !important;
  border-style: none !important;
  padding-bottom: 40px;
}

.container-fluid .jumbotron,
.container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container-fluid .jumbotron,
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: url(https://t3.ftcdn.net/jpg/02/81/42/34/360_F_281423494_L0BG7tWN6BhE5ZhsFW2nTAJrwrzGpM11.jpg);
  background-size: cover;
}

.carouselimg {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0px;
  padding-bottom: 300px;
  padding-top: 300px;
  background-image: url(https://images.pexels.com/photos/7755239/pexels-photo-7755239.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

li :link {
  text-decoration: none;
}

.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}
